<div class="modal fade bd-example-modal-lg" tabindex="-1" id="ModalLogin" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="container p-l-55 p-r-55 p-t-30 p-b-30">
                <div class="wrap-login100 p-l-55 p-r-55 p-t-15 p-b-15">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-37">
                            EVA
                        </span>

                        <div class="wrap-input100 validate-input m-b-20">
                            <input id="username" class="input100" type="text" name="username" placeholder="Usuario">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-25">
                            <input id="pass" class="input100" type="password" name="pass" placeholder="Contraseña">
                            <span class="focus-input100"></span>
                        </div>
 

                    </form>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" onclick="Login()">
                            Login
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>